body {
    font-family: 'Poppins', sans-serif;
    background-color: #f5f7fa;
    margin: 0;
    padding: 0;
}

.topBar {
    background-color: #004080;
    display: flex;
    color: #ffffff;
    justify-content: space-between;
    padding: 20px 30px;
    font-weight: 700;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.container {
    display: flex;
}

.sideBar {
    background-color: #232f3e;
    color: #ffffff;
    width: 250px;
    height: 100vh;
    padding: 20px;
}

.sideBar ul {
    list-style-type: none;
    padding: 0;
}

.sideBar ul li {
    padding: 15px;
    font-weight: 600;
    transition: background-color 0.3s, transform 0.2s;
    border-radius: 8px;
    margin-bottom: 10px;
    cursor: pointer;
}

.sideBar ul li a {
    color: white;
    text-decoration: none;
}

.sideBar ul li.active{
    background-color: #004080;
}

.sideBar ul li:hover {
    background-color: #2c3e50;
    transform: translateX(5px);
}

.mainContent {
    flex-grow: 1;
    padding: 30px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 20px;
}

.search-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

.search-filter input {
    width: 66%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.search-filter select{
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;

}

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: left;
}

th {
    background-color: #004080;
    color: white;
}

.actions button {
    background-color: green;
    color: white;
    padding: 8px 12px;
    border: none;
    cursor: pointer;
}

.actions button:hover {
    background-color:green;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  .pagination button {
    padding: 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .pagination button:hover {
    background-color: #ddd;
  }

  #pickup-details {
    display: none;
    margin-top: 40px;
}

#pickup-details h2 {
    margin-bottom: 20px;
}

